<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRfbEventAttendanceLabel">Create or edit a Rfb Event Attendance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rfbEventAttendance.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rfbEventAttendance.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_attendanceDate">Attendance Date</label>
            <div class="input-group">
                <input id="field_attendanceDate" type="text" class="form-control" name="attendanceDate" ngbDatepicker  #attendanceDateDp="ngbDatepicker" [(ngModel)]="rfbEventAttendance.attendanceDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="attendanceDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_rfbEvent">Rfb Event</label>
            <select class="form-control" id="field_rfbEvent" name="rfbEvent" [(ngModel)]="rfbEventAttendance.rfbEventId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="rfbEventOption.id" *ngFor="let rfbEventOption of rfbevents; trackBy: trackRfbEventById">{{rfbEventOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rfbUser">Rfb User</label>
            <select class="form-control" id="field_rfbUser" name="rfbUser" [(ngModel)]="rfbEventAttendance.rfbUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="rfbUserOption.id" *ngFor="let rfbUserOption of rfbusers; trackBy: trackRfbUserById">{{rfbUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
