
<div *ngIf="rfbLocation">
    <h2><span>Rfb Location</span> {{rfbLocation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Location Name</span></dt>
        <dd>
            <span>{{rfbLocation.locationName}}</span>
        </dd>
        <dt><span>Run Day Of Week</span></dt>
        <dd>
            <span>{{rfbLocation.runDayOfWeek}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rfb-location/'+ rfbLocation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
