<div id="rfb-home-intro" class="row">

    <div class="col-md-4">
        <p class="events-header">Running for Brews 5k Events</p>
        <img src="../../content/images/kevincover.jpg" width="555" height="226"/>
    </div>
    <div class="col-md-8">
        <h1 class="display-4">We Love 5k Running & Craft Brews</h1>
        <p>Bacon ipsum dolor amet flank jowl spare ribs pork belly kevin, shankle short ribs t-bone tenderloin beef ribs alcatra tongue meatloaf. Brisket venison swine prosciutto pork chop ribeye, shank pancetta pork loin leberkas. Tenderloin short ribs ground round pork belly tongue. Salami bacon shoulder t-bone meatloaf burgdoggen ham hock. T-bone meatball beef ribs tri-tip cow. Rump pork ribeye bresaola leberkas kielbasa drumstick pancetta pork belly. Hamburger cupim alcatra leberkas capicola kevin chuck tongue porchetta jerky tri-tip.</p>
        <p>Sausage pastrami short ribs tri-tip capicola jowl, biltong chicken flank pork belly sirloin. Strip steak swine short loin beef ribs boudin, burgdoggen sirloin jerky landjaeger pig turkey. Shoulder ball tip pig flank. Meatloaf pork chop corned beef, leberkas tail salami tri-tip ham bresaola shank pastrami tenderloin bacon frankfurter. Swine ham turkey, biltong fatback boudin sirloin.</p>
        <p>Capicola picanha pork belly, beef ribs pig short ribs ground round ham. Meatball pig boudin leberkas tongue, kielbasa pancetta chicken flank chuck. Porchetta leberkas burgdoggen jowl tail landjaeger ham hock pork chop tongue chuck jerky. Tri-tip burgdoggen flank short ribs chicken shankle ground round tail fatback pastrami. Sausage jerky pork chop chicken alcatra strip steak rump biltong bresaola kielbasa short ribs. Kevin short ribs beef, tail beef ribs leberkas ball tip picanha pork belly t-bone meatball burgdoggen chuck capicola. Bresaola short loin kielbasa, frankfurter venison ground round tenderloin t-bone picanha cupim.</p>
    </div>
</div>
